.header {
  text-align: center;
}

.main {
  display: flex;
  justify-content: center;
  padding: 10px;  

  &_fields{
    display: flex;
    flex-direction: row;
    justify-content: center;


    &_input{
      text-align: center;
      display: flex;
      flex-direction: column;
      padding: 20px;
    }

    &_output {
      text-align: center;
      display: flex;
      flex-direction: column;
      padding: 20px;
    }
  }

  &_controls{
    display: flex;
    justify-content: center;

    &_btns{
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  &_info{
    text-align: center;
   
  }
}