.header {
  text-align: center;
}

.main {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.main_fields {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main_fields_input {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.main_fields_output {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.main_controls {
  display: flex;
  justify-content: center;
}
.main_controls_btns {
  margin-left: 10px;
  margin-right: 10px;
}
.main_info {
  text-align: center;
}
